<table class="scoreCard">
  <tr>
    <td>
      Hole
    </td>
  </tr>
  <tr>
    <td>
      Yardage
    </td>
  </tr>
  <tr>
    <td>
      Handicap
    </td>
  </tr>
  <tr>
    <td>
      Par
    </td>
  </tr>
  <tr>
    <td>
      Score
    </td>
  </tr>

</table>


<!-- <table class="scoreCard">
  <tr>
    <td>
      JD IS A DWARF
    </td>
    <td>
      AND HES DIGGING A HOLE
    </td>
  </tr>
  <tr>
    <td>
      DIGGY DIGGY HOLE
    </td>
    <td>
      DIGGY DIGGY HOLE
    </td>
  </tr>
</table> -->
