<div class="scorecard">
  <p>Player number: {{playerId}}</p>
  <p>Name: {{playerName | checkName}}</p>
  <br />
  <table class="card">
		<tr>
      <td>
        Hole
      </td>
			<td *ngFor="let hole of holes">
        {{hole.hole_num}}
			</td>
      <td>
        TOTALS
      </td>
		</tr>
		<tr>
			<td>
				Yardage
			</td>
      <td *ngFor="let hole of holes">
        {{hole.tee_boxes[teeType].yards}}
      </td>
      <td>
        {{totalYardage}}
      </td>
		</tr>
		<tr>
			<td>
				Handicap
			</td>
      <td *ngFor="let hole of holes">
        {{hole.tee_boxes[teeType].hcp}}
      </td>
      <td>

      </td>
		</tr>
		<tr>
			<td>
				Par
			</td>
      <td *ngFor="let hole of holes">
        {{hole.tee_boxes[teeType].par}}
      </td>
      <td>
        {{totalPar}}
      </td>
		</tr>
		<tr>
			<td>
				Score
			</td>
      <td *ngFor="let hole of holes; index as i;">
        <input #score appScoreCount type="number" class="Score" (change)="scoreArray[i] = $event.target.value; calculateTotalScore();"/>
      </td>
      <td >
        {{scoreTotal}}
      </td>
		</tr>
  </table>
</div>
