<app-course-selector></app-course-selector>
<br />
<select #teeTypeSelector (change)="teeType = teeTypeSelector.value;" >
  <option>

  </option>
  <option *ngFor="let tee of courseService.course?.tee_types" value="{{courseService.course.tee_types.indexOf(tee)}}" >
    {{tee.tee_type}}
  </option>
</select>
<input #nameInput class="addPlayer" [value]="playerName" (change)="playerName = nameInput.value;" />
<button (click)="addPlayer();">Make player</button>
<ng-template scorecard></ng-template>
